agm-map {
  height: 82vh;
}
/*
:host {
  display: block;
  background: #ccc;
  padding: 10px;
  cursor: pointer;
}
*/

:host:hover {
  background: #ddd;
}
.place-image {
  width: 200px;
}
.loader{
  width: 100px;
}